.lightMode{
    .messenger{
        padding-top: 70px;
        min-height: 100vh;
        display: flex;

        .chatMenu{
            flex: 3.5;
            .chatMenuWrapper{
                padding: 10px;
                height: 100%;
                .chatMenuInput{
                    width: 90%;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 1px solid gray;
                }
            }
        }
        .chatBox{
            flex: 5.5;
            .chatBoxWrapper{
                padding: 10px;
                height: 100%;
            }
        }
        .chatOnline{
            flex: 3;
            .chatOnlineWrapper{
                padding: 10px;
                height: 100%;
            }
        }
    }
   
}
.darkMode{
    .messenger{
        height: calc(100vh -70px);
        display: flex;
    }
    .chatMenu{
        flex: 3.5;
        .chatMenuWrapper{
            padding: 10px
        }
    }
    .chatBox{
        flex: 5.5;
        .chatBoxWrapper{
            padding: 10px
        }
    }
    .chatOnline{
        flex: 3;
        .chatOnlineWrapper{
            padding: 10px
        }
    }
}