body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.login {
padding: 0;
margin: 0;
height: 100vh;
background-color: darkorange;
display: flex;
align-items: center;
justify-content: center;

    .card{
        display: flex;
        width: 50%;
        border-radius: 10px;
        background-color: white;
        min-height: 600px;
        overflow: hidden;
        .left {
            flex: 1;
            background-image: url('https://images.pexels.com/photos/4353618/pexels-photo-4353618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1 {
                font-size: 100px;
            }

            p {
                font-size: 50px;
                color: black;
            }

            span {
                color: black;
                font-size: 20px;
            }

            button {
                width: 50%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                background-color: white;
                font-weight: bold;
                cursor: pointer;
            }

        }

        .right {
            flex: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            h1 {

            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border:none;
                    border-bottom: 1px solid;
                    padding: 20px 10px;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: orange;
                    font-weight: bold;
                    cursor: pointer;
                }
            }


        }
    }
}

@media screen and (max-width: 480px) {
    .login {
        .card {
            width: 90%; 
            max-width: 100%; 
            
            .left {
                align-items: center;
                width: 70px;
                h1 {
                    font-size: 40px; 
                    font-weight: bold;
                }

                p {
                    font-size: 20px;
                    font-weight: bold;
                }

                span {
                    font-size: 16px;
                    font-weight: bold;
                }

                button {
                    width: 100%;  
                }
            }

            .right {
                justify-content: center;
                h1 {
                    font-size: 20px; 
                }

                form {
                    flex: 2;
                    align-items: normal;
                    input {
                       display: block;
                        
                    }

                    button {
                        width: 100%; 
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1500px) {
    .login {
        .card {
            width: 90%; 
            max-width: 100%; 
            .left {
                h1 {
                    font-size: 40px; 
                }

                p {
                    font-size: 20px; 
                    font-weight: bold;
                }

                span {
                    font-size: 16px; 
                    font-weight: bold;
                }

                button {
                    width: 100%; 
                    
                }
            }

            .right {
                h1 {
                    font-size: 30px; 
                }

                form {
                    input {
                        padding: 10px; 
                    }

                    button {
                        width: 100%; 
                    }
                }
            }
        }
    }
}